diffusers==0.30.3
einops==0.8.0
fonttools==4.54.1
huggingface-hub==0.25.1
imageio==2.36.0
matplotlib==3.9.2
mkl-service==2.4.0
numpy==2.1.2
opencv-python==4.10.0.84
pycocotools==2.0.8
pyparsing==3.1.4
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
tokenizers==0.20.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.45.2
triton==3.0.0